.pc
autom4te.cache
config.guess.dh-orig
config.sub.dh-orig
configure
stamps
build
build-*
locales

.azure-pipelines
.coveragerc
.editorconfig
.devcontainer
.github
.mailmap
.pre-commit-config.yaml
.readthedocs.yml
Android
CODE_OF_CONDUCT.md
Demo
Doc
Grammar
Include
InternalDocs
iOS
LICENSE
Lib
Mac
Makefile.pre.in
Misc
Modules
Objects
PC
PCbuild
Parser
Programs
Python
README.rst
RISCOS
Tools
aclocal.m4
config.guess
config.sub
configure.ac
install-sh
m4
netlify.toml
pyconfig.h.in
setup.py

# Un-ignore anything that happens to match the above
!debian/**

debian/.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/files
debian/testdir
debian/python3.13-doc.info

debian/idle-python3.13
debian/libpython3.13-dbg
debian/libpython3.13-dev
debian/libpython3.13-minimal
debian/libpython3.13-stdlib
debian/libpython3.13-testsuite
debian/libpython3.13
debian/python3.13-dbg
debian/python3.13-dev
debian/python3.13-doc
debian/python3.13-examples
debian/python3.13-full
debian/python3.13-gdbm
debian/python3.13-minimal
debian/python3.13-nopie
debian/python3.13-tk
debian/python3.13
debian/test_results
debian/tmp-dbg
debian/tmp-shdbg
debian/tmp

debian/EXTERNALLY-MANAGED
debian/README.Debian
debian/README.idle-python3.13
debian/README.maintainers
debian/README.python3.13
debian/idle-python3.13.1
debian/idle-python3.13.overrides
debian/idle-python3.13.postinst
debian/idle-python3.13.postrm
debian/idle-python3.13.prerm
debian/idle.desktop
debian/libpython.symbols
debian/libpython3.13-dbg.overrides
debian/libpython3.13-dbg.prerm
debian/libpython3.13-dbg.symbols
debian/libpython3.13-dev.overrides
debian/libpython3.13-minimal.overrides
debian/libpython3.13-minimal.postinst
debian/libpython3.13-minimal.postrm
debian/libpython3.13-minimal.prerm
debian/libpython3.13-stdlib.overrides
debian/libpython3.13-stdlib.prerm
debian/libpython3.13-testsuite.overrides
debian/libpython3.13-testsuite.postinst
debian/libpython3.13-testsuite.prerm
debian/libpython3.13.overrides
debian/libpython3.13.symbols
debian/multiarch.h
debian/pdb.1
debian/pydoc.1
debian/python3.13-dbg.README.Debian
debian/python3.13-dbg.overrides
debian/python3.13-dbg.postinst
debian/python3.13-dbg.prerm
debian/python3.13-doc.doc-base.python3.13-api
debian/python3.13-doc.doc-base.python3.13-dist
debian/python3.13-doc.doc-base.python3.13-ext
debian/python3.13-doc.doc-base.python3.13-inst
debian/python3.13-doc.doc-base.python3.13-lib
debian/python3.13-doc.doc-base.python3.13-new
debian/python3.13-doc.doc-base.python3.13-ref
debian/python3.13-doc.doc-base.python3.13-tut
debian/python3.13-doc.overrides
debian/python3.13-examples.overrides
debian/python3.13-minimal.README.Debian
debian/python3.13-minimal.overrides
debian/python3.13-minimal.postinst
debian/python3.13-minimal.postrm
debian/python3.13-minimal.preinst
debian/python3.13-minimal.prerm
debian/python3.13-nopie.overrides
debian/python3.13-nopie.preinst
debian/python3.13-nopie.postrm
debian/python3.13.desktop
debian/python3.13.overrides
debian/python3.13.postinst
debian/python3.13.prerm
debian/sitecustomize.py

debian/python3.13-venv.overrides
debian/python3.13-venv.*
debian/python3.13-venv


