.pc
autom4te.cache
config.guess.dh-orig
config.sub.dh-orig
configure
stamps
build
build-*
locales

.azure-pipelines
.editorconfig
CODE_OF_CONDUCT.md
Demo
Doc
Grammar
Include
LICENSE
Lib
Mac
Makefile.pre.in
Misc
Modules
Objects
PC
PCbuild
Parser
Programs
Python
README.rst
RISCOS
Tools
aclocal.m4
config.guess
config.sub
configure.ac
install-sh
m4
netlify.toml
pyconfig.h.in
setup.py

# Un-ignore anything that happens to match the above
!debian/**

debian/.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/files
debian/testdir
debian/python3.12-doc.info

debian/idle-python3.12
debian/libpython3.12-dbg
debian/libpython3.12-dev
debian/libpython3.12-minimal
debian/libpython3.12-stdlib
debian/libpython3.12-testsuite
debian/libpython3.12
debian/python3.12-dbg
debian/python3.12-dev
debian/python3.12-doc
debian/python3.12-examples
debian/python3.12-full
debian/python3.12-minimal
debian/python3.12-nopie
debian/python3.12
debian/test_results
debian/tmp-dbg
debian/tmp-shdbg
debian/tmp

debian/EXTERNALLY-MANAGED
debian/README.Debian
debian/README.idle-python3.12
debian/README.maintainers
debian/README.python3.12
debian/idle-python3.12.1
debian/idle-python3.12.overrides
debian/idle-python3.12.postinst
debian/idle-python3.12.postrm
debian/idle-python3.12.prerm
debian/idle.desktop
debian/libpython.symbols
debian/libpython3.12-dbg.overrides
debian/libpython3.12-dbg.postinst
debian/libpython3.12-dbg.prerm
debian/libpython3.12-dbg.symbols
debian/libpython3.12-dbg.symbols.i386
debian/libpython3.12-dev.overrides
debian/libpython3.12-minimal.overrides
debian/libpython3.12-minimal.postinst
debian/libpython3.12-minimal.postrm
debian/libpython3.12-minimal.prerm
debian/libpython3.12-stdlib.overrides
debian/libpython3.12-stdlib.prerm
debian/libpython3.12-testsuite.overrides
debian/libpython3.12-testsuite.postinst
debian/libpython3.12-testsuite.prerm
debian/libpython3.12.overrides
debian/libpython3.12.symbols
debian/libpython3.12.symbols.i386
debian/multiarch.h
debian/pdb.1
debian/pydoc.1
debian/python3.12-dbg.README.Debian
debian/python3.12-dbg.overrides
debian/python3.12-dbg.postinst
debian/python3.12-dbg.prerm
debian/python3.12-doc.doc-base.python3.12-api
debian/python3.12-doc.doc-base.python3.12-dist
debian/python3.12-doc.doc-base.python3.12-ext
debian/python3.12-doc.doc-base.python3.12-inst
debian/python3.12-doc.doc-base.python3.12-lib
debian/python3.12-doc.doc-base.python3.12-new
debian/python3.12-doc.doc-base.python3.12-ref
debian/python3.12-doc.doc-base.python3.12-tut
debian/python3.12-doc.overrides
debian/python3.12-examples.overrides
debian/python3.12-minimal.README.Debian
debian/python3.12-minimal.overrides
debian/python3.12-minimal.postinst
debian/python3.12-minimal.postrm
debian/python3.12-minimal.preinst
debian/python3.12-minimal.prerm
debian/python3.12-nopie.preinst
debian/python3.12-nopie.postrm
debian/python3.12.desktop
debian/python3.12.overrides
debian/python3.12.postinst
debian/python3.12.prerm
debian/sitecustomize.py

debian/python3.12-venv.overrides
debian/python3.12-venv.*
debian/python3.12-venv


